body
{
  margin:0;
}

#jsLogContainer
{
  position:relative;
  top:10px;
  padding:10px;
}

#jsLog
{
  width:380px;
  height:200px;
  overflow-y:scroll;
  border:solid #999;
  padding:4px;
}

#swfContainer
{
  position:relative;
  top:10px;
  padding:10px;
  width:calc(100% - 20px);
}